In [27]:

import pandas as pd
import pycountry

new_df=pd.read_csv('world-data-2023_new.csv')

new_df.head()

,Country,id,Abbreviation,Latitude,Longitude,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Region
0,Afghanistan,4,AF,33.939110,67.709953,60,58.10%,"652,230","323,000",32.49,...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Asia
1,Albania,8,AL,41.153332,20.168331,105,43.10%,"28,748","9,000",11.78,...,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Europe
2,Algeria,12,DZ,28.033886,1.659626,18,17.40%,"2,381,741","317,000",24.28,...,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Africa
3,Andorra,20,AD,42.506285,1.521801,164,40.00%,468,NaN,7.20,...,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Europe
4,Angola,24,AO,-11.202692,17.873887,26,47.50%,"1,246,700","117,000",40.73,...,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Africa

In [28]:
new_df['GDP'] = new_df['GDP'].replace('[\$,]', '', regex=True)
new_df['GDP'] = new_df['GDP'].astype(float)
new_df['Minimum wage'] = new_df['Minimum wage'].replace('[\$,]', '', regex=True)
new_df['Minimum wage'] = new_df['Minimum wage'].astype(float)
new_df['Gasoline Price'] = new_df['Gasoline Price'].replace('[\$,]', '', regex=True)
new_df['Gasoline Price'] = new_df['Gasoline Price'].astype(float)
new_df['Population'] = new_df['Population'].replace(',', '', regex=True).astype(float)
new_df['Life expectancy'] = new_df['Life expectancy'].astype(float)
new_df['Birth Rate'] = new_df['Birth Rate'].astype(float)
new_df['CPI Change (%)'] = new_df['CPI Change (%)'].replace('%', '', regex=True).astype(float)
new_df['CPI'] = new_df['CPI'].replace(',', '', regex=True).astype(float)

new_df['Unemployment rate'] = new_df['Unemployment rate'].replace('%', '', regex=True)
new_df['Unemployment rate'] = new_df['Unemployment rate'].astype(float)
new_df['Population: Labor force participation (%)'] = new_df['Population: Labor force participation (%)'].replace('%', '', regex=True).astype(float)


new_df.rename(columns={"Density\n(P/Km2)": "Density"}, inplace=True)

In [29]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 37 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   id                                         195 non-null    int64
 2   Abbreviation                               188 non-null    object
 3   Latitude                                   194 non-null    float64
 4   Longitude                                  194 non-null    float64
 5   Density                                    195 non-null    object
 6   Agricultural Land( %)                      188 non-null    object
 7   Land Area(Km2)                             194 non-null    object
 8   Armed Forces size                          171 non-null    object
 9   Birth Rate                                 189 non-null    float64
 10  Calling Code                               194 non-null    float64
 11  Capital/Major City                         192 non-null    object
 12  Co2-Emissions                              188 non-null    object
 13  CPI                                        178 non-null    float64
 14  CPI Change (%)                             179 non-null    float64
 15  Currency-Code                              180 non-null    object
 16  Fertility Rate                             188 non-null    float64
 17  Forested Area (%)                          188 non-null    object
 18  Gasoline Price                             175 non-null    float64
 19  GDP                                        193 non-null    float64
 20  Gross primary education enrollment (%)     188 non-null    object
 21  Gross tertiary education enrollment (%)    183 non-null    object
 22  Infant mortality                           189 non-null    float64
 23  Largest city                               189 non-null    object
 24  Life expectancy                            187 non-null    float64
 25  Maternal mortality ratio                   181 non-null    float64
 26  Minimum wage                               150 non-null    float64
 27  Official language                          190 non-null    object
 28  Out of pocket health expenditure           188 non-null    object
 29  Physicians per thousand                    188 non-null    float64
 30  Population                                 194 non-null    float64
 31  Population: Labor force participation (%)  176 non-null    float64
 32  Tax revenue (%)                            169 non-null    object
 33  Total tax rate                             183 non-null    object
 34  Unemployment rate                          176 non-null    float64
 35  Urban_population                           190 non-null    object
 36  Region                                     195 non-null    object
dtypes: float64(17), int64(1), object(19)
memory usage: 56.5+ KB

In [30]:
#Attributes expected to use-
#1) population and life expectancy and birth rate (Density analysis)
#2) Gdp and cpi and cpi change  (GDP analysis)
#3) unemployment rate and labour force participation and population (employment)

In [31]:
new_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 37 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   id                                         195 non-null    int64
 2   Abbreviation                               188 non-null    object
 3   Latitude                                   194 non-null    float64
 4   Longitude                                  194 non-null    float64
 5   Density                                    195 non-null    object
 6   Agricultural Land( %)                      188 non-null    object
 7   Land Area(Km2)                             194 non-null    object
 8   Armed Forces size                          171 non-null    object
 9   Birth Rate                                 189 non-null    float64
 10  Calling Code                               194 non-null    float64
 11  Capital/Major City                         192 non-null    object
 12  Co2-Emissions                              188 non-null    object
 13  CPI                                        178 non-null    float64
 14  CPI Change (%)                             179 non-null    float64
 15  Currency-Code                              180 non-null    object
 16  Fertility Rate                             188 non-null    float64
 17  Forested Area (%)                          188 non-null    object
 18  Gasoline Price                             175 non-null    float64
 19  GDP                                        193 non-null    float64
 20  Gross primary education enrollment (%)     188 non-null    object
 21  Gross tertiary education enrollment (%)    183 non-null    object
 22  Infant mortality                           189 non-null    float64
 23  Largest city                               189 non-null    object
 24  Life expectancy                            187 non-null    float64
 25  Maternal mortality ratio                   181 non-null    float64
 26  Minimum wage                               150 non-null    float64
 27  Official language                          190 non-null    object
 28  Out of pocket health expenditure           188 non-null    object
 29  Physicians per thousand                    188 non-null    float64
 30  Population                                 194 non-null    float64
 31  Population: Labor force participation (%)  176 non-null    float64
 32  Tax revenue (%)                            169 non-null    object
 33  Total tax rate                             183 non-null    object
 34  Unemployment rate                          176 non-null    float64
 35  Urban_population                           190 non-null    object
 36  Region                                     195 non-null    object
dtypes: float64(17), int64(1), object(19)
memory usage: 56.5+ KB

In [32]:
# Function to get ISO alpha-3 code
def get_iso_code(country_name):
    try:
        return pycountry.countries.lookup(country_name).alpha_3 
      
    except LookupError:
        return None  
new_df['iso_alpha_3'] = new_df['Country'].apply(get_iso_code)

In [ ]:
new_df.head(50)

In [35]:
new_df.to_csv('main_data.csv', index=False)